In [1]:
import pandas as pd
import numpy as np
from build_model import concat_earning

In [2]:
file_path = 'D:/projects/stock/intra_day/'

In [3]:
earning = concat_earning(-1)

In [4]:
earning.to_csv('earning.csv')

In [5]:
df = pd.read_csv(file_path+'CCL.csv',index_col = 0,parse_dates = True).sort_index()
spy = pd.read_csv(file_path+'SPY.csv',index_col = 0,parse_dates = True).sort_index()

In [6]:
data = df.loc['2020-06-17':'2020-06-19']['close']

In [10]:
res = pd.merge(df,spy,left_index=True,right_index = True)

In [11]:
dates = sorted(list(set([x.date() for x in res.index])))
for i in dates:
    sec = res.loc[str(i)]
    print(i,round(sec[['close_x','close_y']].corr().iloc[0].iloc[1],4))

2020-06-08 0.6483
2020-06-09 0.6487
2020-06-10 0.7744
2020-06-11 0.8431
2020-06-12 0.6027
2020-06-15 0.9005
2020-06-16 0.7703
2020-06-17 0.7107
2020-06-18 0.5463
2020-06-19 0.8598
2020-06-22 0.0689
2020-06-23 -0.2288

In [13]:
df

                        open   high      low    close    volume
timestamp
2020-06-08 09:35:00  24.5740  24.73  23.6069  23.8539  10876318
2020-06-08 09:40:00  23.8563  24.01  23.5100  23.8963   3177722
2020-06-08 09:45:00  23.9000  24.20  23.7900  24.0000   2814506
2020-06-08 09:50:00  24.0000  24.46  23.9600  24.3816   2085627
2020-06-08 09:55:00  24.4052  24.77  24.1600  24.7503   2872558
...                      ...    ...      ...      ...       ...
2020-06-26 15:40:00  15.2950  15.31  15.2600  15.2900    241552
2020-06-26 15:45:00  15.2800  15.41  15.2700  15.4050    429676
2020-06-26 15:50:00  15.4050  15.47  15.3900  15.4700    446010
2020-06-26 15:55:00  15.4700  15.66  15.4700  15.6600    792927
2020-06-26 16:00:00  15.6600  16.00  15.6600  15.8400   1968457

[1170 rows x 5 columns]