In [248]:
import pandas_datareader as pdr
import pandas_datareader.data as web
from datetime import datetime
import os
import pandas as pd
import time

In [249]:
import json, urllib.request
def real_time(symbol):
    res = urllib.request.urlopen('https://cloud.iexapis.com/stable/stock/%s/book?token=pk_6ac472d18510450ba6e71e845f85644c'%symbol)
    js = json.loads(res.read().decode())
    df = pd.DataFrame(js['trades'])
    df['timestamp'] = df['timestamp'].map(lambda x: datetime.fromtimestamp(x/1000))
    df.index = df['timestamp']
    df = df[['price', 'size']]
    return df
def intra_day(symbol):
    intra = 'https://cloud.iexapis.com/stable/stock/%s/intraday-prices?token=pk_6ac472d18510450ba6e71e845f85644c'%symbol
    res = urllib.request.urlopen(intra)
    js = json.loads(res.read().decode())
    df = pd.DataFrame(js)
    df.index = (df['date']+'-'+df['minute']).map(lambda x: datetime.strptime(x, '%Y-%m-%d-%H:%M'))
    df = df.drop(['date','minute','label'],axis = 1)
    df = df.sort_index(ascending = False)
    return df
def hist(symbol):
    url = 'https://cloud.iexapis.com/stable/stock/%s/chart/2y?token=pk_6ac472d18510450ba6e71e845f85644c'%symbol
    res = urllib.request.urlopen(url)
    js = json.loads(res.read().decode())
    df = pd.DataFrame(js)
    df.index = df['date'].map(lambda x: datetime.strptime(x, '%Y-%m-%d'))
    df = df.drop(['date'],axis = 1)
    df = df.sort_index(ascending = False)
    return df

In [250]:
real_time('AAPL')

                           price  size
timestamp
2020-04-08 15:59:59.930  266.050   100
2020-04-08 15:59:59.930  266.050   100
2020-04-08 15:59:59.746  266.050   100
2020-04-08 15:59:59.746  266.050   100
2020-04-08 15:59:59.661  265.980   100
2020-04-08 15:59:59.661  265.980   100
2020-04-08 15:59:59.152  265.630   100
2020-04-08 15:59:59.043  265.630    54
2020-04-08 15:59:59.021  265.580    56
2020-04-08 15:59:58.909  265.550    44
2020-04-08 15:59:58.909  265.550    56
2020-04-08 15:59:58.083  265.560   100
2020-04-08 15:59:58.082  265.480   100
2020-04-08 15:59:58.077  265.480   100
2020-04-08 15:59:58.077  265.480   100
2020-04-08 15:59:58.074  265.480   100
2020-04-08 15:59:57.146  265.640    67
2020-04-08 15:59:56.018  265.665   100
2020-04-08 15:59:56.017  265.665   100
2020-04-08 15:59:56.016  265.665   100

In [251]:
intra_day('AAPL')

,high,low,open,close,average,volume,notional,numberOfTrades
2020-04-08 15:59:00,266.050,265.250,265.860,266.050,265.598,9502,2523713.430,114
2020-04-08 15:58:00,266.290,265.880,266.280,265.880,266.140,2611,694891.310,31
2020-04-08 15:57:00,266.420,266.060,266.060,266.410,266.276,3518,936759.075,30
2020-04-08 15:56:00,266.080,265.650,265.845,266.020,265.922,2196,583964.960,22
2020-04-08 15:55:00,266.950,265.890,266.950,265.910,266.364,6942,1849099.490,40
...,...,...,...,...,...,...,...,...
2020-04-08 09:34:00,262.305,261.875,262.300,262.305,262.161,2175,570200.625,15
2020-04-08 09:33:00,263.120,262.200,262.820,262.390,262.498,1843,483783.465,15
2020-04-08 09:32:00,263.250,262.705,263.150,263.095,263.141,1256,330505.255,15
2020-04-08 09:31:00,263.500,262.710,262.710,263.075,263.189,1644,432682.705,24
2020-04-08 09:30:00,263.385,262.600,262.600,262.720,263.024,4267,1122325.495,42

In [252]:
hist('AAPL')

,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,change,changePercent,label,changeOverTime
date,,,,,,,,,,,,,,
2020-04-07,259.43,270.80,271.70,259.00,50721831,259.43,270.80,271.70,259.00,50721831,-3.04,-1.1582,"Apr 7, 20",0.525610
2020-04-06,262.47,250.90,263.11,249.38,50455071,262.47,250.90,263.11,249.38,50455071,21.06,8.7237,"Apr 6, 20",0.543487
2020-04-03,241.41,242.80,245.70,238.97,32470017,241.41,242.80,245.70,238.97,32470017,0.00,0.0000,"Apr 3, 20",0.419641
2020-04-03,241.41,242.80,245.70,238.97,32470017,241.41,242.80,245.70,238.97,32470017,0.00,0.0000,"Apr 3, 20",0.419641
2020-04-03,241.41,242.80,245.70,238.97,32470017,241.41,242.80,245.70,238.97,32470017,-3.52,-1.4371,"Apr 3, 20",0.419641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-04-13,174.73,174.78,175.84,173.85,25124255,174.73,174.78,175.84,173.85,25124255,0.59,0.3388,"Apr 13, 18",0.027521
2018-04-12,174.14,173.41,175.00,173.04,22889285,174.14,173.41,175.00,173.04,22889285,1.70,0.9859,"Apr 12, 18",0.024052
2018-04-11,172.44,172.23,173.92,171.70,22431640,172.44,172.23,173.92,171.70,22431640,-0.81,-0.4675,"Apr 11, 18",0.014055
2018-04-10,173.25,173.00,174.00,171.53,28614241,173.25,173.00,174.00,171.53,28614241,3.20,1.8818,"Apr 10, 18",0.018818
2018-04-09,170.05,169.88,173.09,169.85,29017718,170.05,169.88,173.09,169.85,29017718,0.00,0.0000,"Apr 9, 18",0.000000

In [262]:
#Speed test#
l = pd.read_excel('sp500list.xlsx')['Symbol']
for i in l.iloc[:20]:
    s = time.time()
    df = intra_day(i)
    print ('finished %s in %s seconds'%(i,str(time.time()-s)))

finished MSFT in 0.3483161926269531 seconds
finished AAPL in 0.24121928215026855 seconds
finished AMZN in 0.2572331428527832 seconds
finished FB in 1.954775333404541 seconds
finished BRK.B in 0.29126429557800293 seconds
finished JNJ in 5.080613136291504 seconds
finished GOOG in 0.5545034408569336 seconds
finished GOOGL in 0.7767055034637451 seconds
finished V in 0.8247485160827637 seconds
finished JPM in 2.244037389755249 seconds
finished PG in 0.264240026473999 seconds
finished INTC in 0.5835297107696533 seconds
finished VZ in 0.240217924118042 seconds
finished UNH in 0.2522289752960205 seconds
finished MA in 0.2472243309020996 seconds
finished T in 0.24622321128845215 seconds
finished HD in 0.25623250007629395 seconds
finished MRK in 0.3272972106933594 seconds
finished PFE in 0.2302088737487793 seconds
finished DIS in 0.23621463775634766 seconds